
{{ "<!-- about -->" | safeHTML }}
  <section id="about" class="main special">
    <div class="container">
      <span class="image fit primary"><img src="images/{{ with .Site.Params.about.picture }}{{  . }}{{end}} " alt="" /></span>
      <div class="content">
        <header class="major">
          <h2>{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
        </header>
        <p align="left">{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</p>
      </div>
      <a href="#skills" class="goto-next scrolly">{{ with .Site.Params.about.buttonText }}{{ . | markdownify }}{{ end }}</a>
    </div>
  </section>
