{{ "<!-- Infos -->" | safeHTML }}
  <section id="infos" class="main special">
    <div class="container">
      <span class="image fit primary"><img src="images/{{ with .Site.Params.infos.picture }}{{ . }}{{ end }}" alt="" /></span>
      <div class="content">
        <header class="major">
          <h2>{{ with .Site.Params.infos.title}}{{ . | markdownify }}{{ end }}</h2>
        </header>
        <p align="left">{{ with .Site.Params.infos.description }}{{ . | markdownify }}{{ end }}</p>
      </div>
      <a href="#footer" class="goto-next scrolly">{{ with .Site.Params.infos.buttonText }}{{ . | markdownify }}{{ end }}</a>
    </div>
  </section>
